.title {
  text-align: center;
  margin-top: 2em;
}
.title2 {
  color: var(--font-gray);
  margin-bottom: 0.5em;
  text-transform: capitalize;
}
.title1 {
  margin-bottom: 0.5em;
  text-transform: capitalize;
}
