.about-section {
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 2em;
  padding: 2em;
  max-width: 1200px;
  margin-inline: auto;
  align-items: center;
}
.about-img img {
  max-width: 400px;
  border-radius: 20px;
}
.about-img {
  text-align: center;
}
.about-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  width: 100%;
}
.about-content {
  margin-top: 2em;
  word-spacing: 5px;
  text-align: justify;
}

@media screen and (max-width: 940px) {
  .about-items {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 765px) {
  .about-section {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 450px) {
  .about-img img {
    max-width: 100%;
  }
}
